[submodule "MatBERT-synthesis-classifier"]
	path = MatBERT-synthesis-classifier
	url = https://github.com/CederGroupHub/MatBERT-synthesis-classifier.git
[submodule "MatEntityRecognition"]
	path = MatEntityRecognition
	url = https://github.com/CederGroupHub/MatEntityRecognition.git
